.services
    padding: 148px 0
    display: flex
    align-items: center
    justify-content: center
    .container
        justify-content: space-between
        align-items: center
        gap: 4rem
        .services__cards
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 2rem
            justify-content: space-between
            .services__card 
                border: 2px solid #404454
                background-color: #2A2D3A
                backdrop-filter: blur(4px)
                border-radius: 20px
                padding: 2.5rem 1rem
                display: flex
                flex-direction: column
                align-items: flex-start
                gap: 1.5rem